{{template "base" .}} {{define "content"}}

<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="subtitle is-2">{{.Data.blog.Heading}}</h1>
      <p class="subtitle is-5">{{.Data.blog.SubHeading}}</p>

      <div class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://via.placeholder.com/48x48" alt="Sanjay Jaiswal" />
          </p>
        </figure>
        <div class="media-content">
          <p>
            <strong>Sanjay Jaiswal</strong>
            <small>· Jan 10, 2022 · 1 min read</small>
          </p>
        </div>
      </div>
      <div class="content">{{.Data.blog.Content}}</div>
    </div>
  </div>
</section>

<div class="container">
  <div>
    <section class="section">
      <h3 class="title is-4">Comments</h3>

      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="field">
              <label class="label">Add a comment</label>
              <div class="control">
                <textarea
                  class="textarea is-success"
                  placeholder="Write your comment here..."
                  id="textarea"
                ></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary" onclick="addComment()">
                  Post comment
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>

      <!-- Existing comments -->
      <div id="comments">
        <div class="block">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>John Doe</strong> <small>@johndoe</small>
                  <small>31m ago</small>
                  <br />
                  Great post! Really enjoyed reading it.
                </p>
              </div>
            </div>
          </article>
        </div>
   
      </div>

      <!-- Add new comment -->
    </section>
  </div>
</div>

{{end}} {{define "js"}}

<script>
  console.log("Loaded js");

  function addComment() {
    const comment = document.getElementById("textarea").value;
    console.log(comment);

    var url = window.location.href;

    // Split the URL by '/'
    var parts = url.split("/");
    var id = parts[parts.length - 1];

    // Use parseInt to convert id to a number if needed
    id = parseInt(id);

    const postData = {
      blogid: id,
      comment: comment,
    };

    const url1 = "http://localhost:8080/comment";

    fetch(url1, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(postData),
    })
      .then((response) => {
    
        return response.json();
      })
      .then((data) => {
        console.log("Response data:", data);
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>

{{end}}
