{{template "base" .}}


{{define "content"}}
<div class="container">
    <!-- Create new blog section -->
    <section class="section">
      <div class="content">
        <h1 class="title">Create New Blog</h1>

        <form method="POST" action="/user/123/createblog">
          <!-- Heading -->
          <div class="field">
            <label class="label" for="heading"  >Heading</label>
            <div class="control">
              <input class="input" name="heading" type="text" placeholder="Enter the heading" required>
            </div>
          </div>

          <!-- Subheading -->
          <div class="field">
            <label for="subheading" class="label">Subheading</label>
            <div class="control"> 
              <input class="input" name="subheading" type="text" placeholder="Enter the subheading" required>
            </div>
          </div>

          <!-- Main Content -->
          <div class="field">
            <label class="label" for="content">Main Content</label>
            <div class="control">
              <textarea class="textarea" name="content" placeholder="Write your main content here..." required></textarea>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="field">
            <div class="control">
              <input class="button is-primary" type="submit" />
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>



{{end}}